* {
    font-family: 'Readex Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

body {
    background-image: url(../imgs/bg-overlay.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%; 
    height: fit-content;
}

#login-home {
    position: absolute;
    top: 5vh; 
    right: 5vh; 
    cursor: pointer;
    width: 9vw;
    height: 6vh;
    border-style: none;
    background-color: #FFCB45;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

#login-home img{
    height: 5vh;
    width: 2vw;
    margin-right: 1vh;
}

.logo-celular{
    display: none;
    width: 30vh;
}


.card-cadastro-info{
    width: 30%;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

.titulo-info {
    color: white;
    font-weight: bold;
    font-size: 2em; 
}

.card-cadastro-user{
    color: black;
    width: 31vw;
    height: fit-content;
    background-color: #FAFAFA;
    text-align: center;
    border-radius: 6%;
}

.texto-info{
    color: white;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imagem-logo{
    width: 70%;
}

.titulo-user1{
    margin-top: 5vh;
    text-align: left;
}

.titulo-user2{
    font-size: 1.6em;
    font-weight: 550;
    text-align: left;
}

.texto-user{
    text-align: left;
}

.info-user{
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
}

.text-field{
    margin-bottom: 15px;
}

.botao-amarelo {
    background-color: #FFCB45; 
    color: #ffffff; 
    border: none; 

    /* font-size: 16px;  */
    border-radius: 8px;
    height: 8vh; 
    font-weight: bold;
    cursor: pointer; 
    color: black;
    width: 77%;
}

.label-user{
    
    /* input */

position: absolute;
left: 0%;
right: 0%;
top: 3.78%;
bottom: 76.98%;

border: 1px solid #BDBDBD;
border-radius: 8px;

}

.texto-user{
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 70%;
  }

  select {
    width: 77%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none; /* Remove a aparência padrão do elemento <select> */
    cursor: pointer;
  }

  .card-redirecionador-user{
    margin-top: 4vh;
  }
  .card2-redirecionador-user{
    margin-top: 2vh;
  }
  .a-user{
    font-weight: 700;
    color: black;
  }

  @media screen and (max-width: 768px) {

    *{
        font-size: 1em;
    }

    #login-home {
        width: 20vw;
        height: 5vh;
    }

    #login-home img {
        height: 3vh;
        width: 4vw;
        margin-right: 12%;
    }
    
    .logo-celular{
        display: block;
    }

    body {
        height: fit-content
    }

    .titulo-user2 {
        font-size: 1.2em; 
    } 
    .card-cadastro-info{
        display: none;
    }

    .card-cadastro-user{
        width: 61vw;
    }
}