* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0%;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.div_principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(255, 255, 255);

}

.div_header {
    background-color: #295897;
    width: 100%;
    height: 50%;
}

.nav-bar {
    display: flex;
    height: 120px;
    width: 200px;
    margin-left: 50px;
}

.container {
    display: flex;
    width: 100%;
    margin-top: -90px;
    margin-left: -100px;
}

.menu {
    width: 700px;
    display: flex;
    color: #ffffff;
    list-style: none;
    justify-content: space-evenly;
    font-weight: bold;
}

.container:hover {
    background-color: rgb(247, 255, 208);
    color: black;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.seila {
    justify-content: center;
}

p {
    display: flex;
    color: #ffffff;
}


span {
    color: yellow;
}

.card {
    background-color: rgb(251, 251, 251);
    width: 600px;
    height: auto;
    margin-left: 400px;
    margin-top: 100px;
    text-align: center;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6);
    padding-top: 100px;
    padding-bottom: 400px;
    padding-left: 200px;
    padding-right: 200px;
}

#quadrado {
    color: #295897;
}