* {
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
}

body {
    overflow-x: hidden;
}

.principal {
    height: fit-content;
    width: 100%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 92%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    flex-direction: column;
}

.nav-bar {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 9999;
    position: relative;
}

.blue{
    position: absolute;
    height: 120vh;
    width: 100%;
    margin: 0;
    background-color: #295897;
}

.logo img {
    height: 15vh;
    width: 13vw;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 55%;
    align-self: baseline;
    justify-content: space-evenly;
    font-size: 3.0vh;
    color: rgb(255, 255, 255);
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
}

#menu span {
    border-bottom: solid 0.6vh #FFCB45;
}

#menu ul li {
    margin-bottom: 2%;
    cursor: pointer;
}

.botao-login img {
    height: 3vh;
    width: 1.5vw;
    margin-right: 12%;
}

#login-home {
    width: 9vw;
    height: 6vh;
    border-style: none;
    background-color: #FFCB45;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

#login-home:hover {
    font-weight: bold;
    background-color: #d2a83e;
    transform: scale(1.05);
    cursor: pointer;
}

.container-quad{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: relative;
    flex-direction: column;
    margin-top: 3%;
}

.quadrado{
    width: 75%;
    height: 75vh;
    background-color: white;
    box-shadow: 0px 4px 52px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.text {
    margin-left: 8%;
    width: 80%;
    margin-bottom: 2%;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.text h1{
    color: white;
    font-size: 4.5vh;
}

.text span{
    color: #FFCB45;
}

.left{
    width: 60%;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.right{
    width: 48%;
    height: inherit;
    background-image: url('../assets/thumbnail_depositphotos_137474258-stock-photo-close-up-of-hand-entering.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-right{
    display: flex;
    flex-direction: column;
    width: 83%;
    color: white;
    text-align: center;
    font-size: 2.8vh;
    height: 17vh;
    justify-content: space-between;
    text-shadow: 2px 1px 6px #00000091;
}

.text-right span{
    color: #FFCB45;
}

.text-right button{
    width: 60%;
    background-color: #FFCB45;
    color: white;
    border-style: none;
    height: 5vh;
    align-self: center;
    border-radius: 5px;
    font-weight: 900;
    font-size: 2.5vh;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.text-right button:hover{
    transform: scale(1.06);
}

.content-left{
    width: 85%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-left span{
    color: #295897;
}

#form{
    display: flex;
    flex-direction: column;
    height: 55vh;
    justify-content: space-around;
    width: 80%;
}

#form input{
    border: 0;
    height: 5vh;
    font-size: 2.6vh;
    color: rgba(0, 0, 0, 0.211);
    font-weight: 100;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.318);
    transition: 0.3s ease-in-out;
}

#form input:focus{
    outline: none;
    border-bottom: 1.4px solid #00000062;
}

#form button{
    width: 100%;
    background-color: #FFCB45;
    color: white;
    border-style: none;
    height: 5.5vh;
    align-self: center;
    border-radius: 5px;
    font-size: 2.5vh;
    justify-self: end;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#form button:hover{
    transform: scale(1.06);
}

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #295897;
    border-radius: 10px;
    padding: 10px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#chatbot-icon {
    width: 40px;
    height: 40px;
    background-color: #FFCB45;
    color: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

#chatbot-body {
    display: none;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}

.footer {
    display: flex;
    width: 93rem;
    height: 20rem;
    background-color: #FFCB45;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 85%;
    margin: auto;
    margin-bottom: 0;
}

.footerContent {
    display: flex;
    width: 100%;
    height: 70%;
}

.footerMedia {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.footerLogo {
    display: flex;
    width: 100%;
    height: 70%;
}

.footerLogo img {
    width: auto;
    height: 20vh;
    margin-left: 5%;
}

.footerSocialMidia {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 59%;
    height: 30%;
}

.socialMedia {
    width: 2.81rem;
    height: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0 3px 8px #514f4f;
}

.socialMedia i {
    font-size: x-large;
}

.bgYellow {
    background-color: #FFCB45;
}

.bgWhite {
    background-color: white;
}

.footerText {
    display: flex;
    width: 60%;
    height: 100%;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 53%;
    justify-content: space-around;
}

.footerInfo span,
.footerInfo a {
    font-weight: lighter;
    color: black;
    text-decoration: none;
}

.footerInfo a:hover {
    font-weight: bold;
    color: #295897;
}

.footerRights {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25%;
    border-top-width: 1px;
    border-top-style: outset;
    border-top-color: black;
}

@media screen and (max-width: 600px) {
    .menu{
        display: none;
    }

    .nav-bar{
        width: 100vw;
    }

    .footer {
        width: 100vh;
        flex-direction: column;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footerContent {
        flex-direction: column-reverse;
        height: fit-content;
    }

    .footerContainer {
        width: 50vh;
        height: fit-content;

    }

    .nossos-clientes {
        width: fit-content;
        display: none;
    }

    .clientes-grupo {
        width: inherit;
    }

    .footerText {
        flex-direction: column;

    }

    .footerRights {
        display: none;
    }

    .principal {
        overflow-x: hidden;
    }

    .footerMedia {
        width: 100%;
        align-self: center;
        margin-bottom: 10%;
    }

    .footerLogo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footerLogo img {
        width: auto;
        height: 15vh;
    }

    .footerSocialMidia {
        width: 100%;
    }

    .footerInfo{
        margin-bottom: 15%;
        font-size: 3vh;
    }

    .logo img {
        height: 13vh;
        width: auto;
        margin-right: 12%;
    }

    #login-home{
        width: 20vw;
    }

    #login-home img{
        width: 50%;
        
    }

    .text{
        margin-top: 5%;
        margin-bottom: 25%;
        font-size: 3vh;
    }

    .text p{
        width: 95%;
    }

    .container-quad{
        height: fit-content;
    }
    
    .quadrado{
        flex-direction: column;
        height: 150vh;
        width: 93%;
        margin-bottom: 5%;
    }

    .left{
        width: 85%;
    }

    .content-left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .text-right{
        height: 24vh;
    }

    .text-right button {
        height: 6vh;
    }
}