* {
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    /* position: absolute; */
    z-index: 99;
    height: fit-content;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 92%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    flex-direction: column;
}

.navBar {
    width: 90%;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 53%;
    align-self: baseline;
    justify-content: space-evenly;
    font-size: 3.0vh;
    font-weight: 700;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
}

#menu .agora {
    border-bottom: solid 0.6vh #FFCB45;
}

#menu a {
    color: black;
    text-decoration: none;
}

.navBar button {
    width: 12vw;
    height: 6vh;
    border-style: none;
    background-color: #FFCB45;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
}

.navBar button:hover {
    font-weight: bold;
    background-color: #d2a83e;
    transform: scale(1.05);
    cursor: pointer;
}

.navBar img {
    height: 15vh;
    width: 13vw;
}

.login-button img {
    height: 3vh;
    width: 1.5vw;
    margin-right: 12%;
}

/* BANNER BANNER BANNER BANNER BANNER */

.banner {
    width: 95%;
    height: 89vh;
    /* margin-bottom: 3%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    flex-direction: column;
}

.bd-img-banner {
    z-index: -1;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-image: url(../assets/background-banner.png);
    /* backdrop-filter: blue(2px); */
}


.titulo {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    width: 90%;
    justify-content: space-evenly;
    margin-top: 17%;
    font-size: 3.0vh;
}

.text-titulo {
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.text-titulo h1{
    width: 100%;
    font-size: 6.5vh;
    color: white;
}

.text-titulo h1 b{
    color: #FFCB45;
}

.text-titulo p {
    margin-top: 5vh;
    width: 70%;
    color: white;
    font-weight: 100;
}

.orcamento {
    width: 53%;
    height: 60vh;
    margin-top: -15vh;
    margin-right: -15vh;
    background-color: #fff;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-orcamento {
    width: 70%;
}

.orcamento input {
    border: none;
    border-bottom: solid 1px lightgrey;
    width: 70%;
}

.orcamento button {
    border: none;
    background-color: #FFCB45;
    height: 7vh;
    width: 20vw;
    border-radius: 2vh;
    font-weight: bold;
}

/* BANNER BANNER BANNER BANNER BANNER */

.negocio {
    /* position: ; */
    width: 95%;
    height: 89vh;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-negocio {
    height: 76vh;
    width: 45%;
    background-size: cover;
    border-radius: 2vh;
}

.img-negocio img {
    height: 90vh;
    width: 50vw;
}

.text-negocio {
    height: 69vh;
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Nunito', sans-serif;
    color: #595959;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-size: 3vh;
    font-style: normal;
}

.text-negocio h3 {
    color: #295897;
}

/* PORQUE PORQUE PORQUE PORQUE PORQUE */

.porque {
    height: 70vh;
    width: 100%;
    background-color: #295897;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    
}

.porque .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10vh;
}

.texto p {
    display: flex;
    align-self: center;
    margin-top: 10vh;
    color: #FFF;
    /* font-family: Nunito; */
    /* font-size: 1.5rem; */
    font-style: normal;
    font-weight: 400;
    word-spacing: 0.3em;
}
/* ARQUITETURA ARQUITETURA ARQUITETURA ARQUITETURA */

.arquitetura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.diagrama {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.diagrama img {
    width: 90vw;
    margin-top: 5vh;
}


/* FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer {
    display: flex;
    width: 93rem;
    height: 20rem;
    background-color: #FFCB45;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 85%;
    margin: auto;
    margin-bottom: 0;
}

.footerContent {
    display: flex;
    width: 100%;
    height: 70%;
}

.footerMedia {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.footerLogo {
    display: flex;
    width: 100%;
    height: 70%;
}

.footerLogo img {
    width: 20vw;
    height: 20vh;
}

.footerSocialMidia {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 59%;
    height: 30%;
}

.socialMedia {
    width: 2.81rem;
    height: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0 3px 8px #514f4f;
}

.socialMedia i {
    font-size: x-large;
}

.bgYellow {
    background-color: #FFCB45;
}

.bgWhite {
    background-color: white;
}

.footerText {
    display: flex;
    width: 60%;
    height: 100%;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 53%;
    justify-content: space-around;
}

.footerInfo span,
.footerInfo a {
    font-weight: lighter;
    color: black;
    text-decoration: none;
}

.footerInfo a:hover {
    font-weight: bold;
    color: #295897;
}

.footerRights {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25%;
    border-top-width: 1px;
    border-top-style: outset;
    border-top-color: black;
}

