* {
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro', sans-serif
}

body {
    overflow-x: hidden;
}

header {
    /* position: absolute; */
    z-index: 99;
    height: fit-content;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 92%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    flex-direction: column;
}

.navBar {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 55%;
    align-self: baseline;
    justify-content: space-evenly;
    font-size: 3.0vh;
    font-weight: 700;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
}

#menu .agora {
    border-bottom: solid 0.6vh #FFCB45;
}

#menu a {
    color: black;
    text-decoration: none;
}

.navBar button {
    width: 9vw;
    height: 6vh;
    border: none;
    border-radius: 3vh;
    font-weight: bold;
    background-color: #FFCB45;
    transition: 0.5s ease-in-out;
}

.navBar button:hover {
    font-weight: bold;
    background-color: #d2a83e;
    transform: scale(1.05);
    cursor: pointer;
}

/* BANNER BANNER BANNER BANNER BANNER */

.banner {
    width: 95%;
    height: 89vh;
    /* margin-bottom: 3%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    flex-direction: column;
}

.bd-img-banner {
    z-index: -1;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-color: #5b5b5b52;
}


.titulo {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    width: 90%;
    justify-content: space-evenly;
    margin-top: 17%;
    font-size: 3.0vh;
}

.text-titulo {
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.text-titulo h1{
    width: 100%;
    font-size: 6.5vh;
    color: white;
}

.text-titulo h1 b{
    color: #FFCB45;
}

.text-titulo p {
    margin-top: 5vh;
    width: 70%;
    color: white;
    font-weight: 100;
}

.orcamento {
    width: 53%;
    height: 60vh;
    margin-top: -15vh;
    margin-right: -15vh;
    background-color: #fff;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orcamento input {
    border: none;
    border-bottom: solid 1px lightgrey;
}

.orcamento button {
    border: none;
    background-color: #FFCB45;
    height: 3vh;
    width: 5vh
}

/* BANNER BANNER BANNER BANNER BANNER */

.negocio {
    /* position: ; */
    width: 95%;
    height: 89vh;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-negocio {
    height: 76vh;
    width: 45%;
    background-image: url('../assets/midia-banco24horas-farmacia-2.jpg');
    background-size: cover;
    border-radius: 2vh;
}

.text-negocio {
    height: 69vh;
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Nunito', sans-serif;
    color: #595959;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-size: 3vh;
    font-style: normal;
}

.text-negocio h3 {
    color: #295897;
}

/* PORQUE PORQUE PORQUE PORQUE PORQUE */

.porque {
    height: 80vh;
    width: 110%;
    background-color: #194075;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ARQUITETURA ARQUITETURA ARQUITETURA ARQUITETURA */




