.chart-area {
    width: 41vw;
    height: 41vh;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-direction: row;
   
}

#TEMPChart {
    position: relative;
    width: 50vw;
    justify-content: center;
    display: flex;
    background-color: white;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    left: 1.1vw;
}

#CPUChart {
    position: relative;
    width: 50vw;
    justify-content: center;
    display: flex;
    background-color: white;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 5rem;
    color: rgb(150, 108, 2);
    font-weight: bold;
}

#desempenho {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 10vh;
    border-left: 0.25rem solid rgb(150, 108, 2) !important;
    position: relative;
    left: 2.3vw;
}

#atividadeGeral {
    width: 40vw;
   position: relative;
   /* right: 4.5vw; */
 }

#bloco{
    height: 15vh;
}

#blocoKPI {
    position: relative;
    right: 3vw;
    justify-content: center;
    height: 2vh;
    width: 20vw;
    border-left: 0.25rem solid white !important;
}

.teste {
    /* position: relative;
    left: 15vw;
    bottom: 3rem; */
    display: flex;
    /* flex-direction: row; */
    /* position: relative;
    gap: 2rem; */
    height: 12vh;
    width: 200vw;
    position: relative;

    /* gap: 1rem; */
}

.teste2 {
    display: flex;
}

.botao-reiniciar button {
    background-color:rgb(150, 108, 2);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 41rem;
    width: 32.5vw;
    height: 10vh;
    outline: none;
    border: none;
    box-shadow: 0 0.50rem 1.90rem 0 rgba(58, 59, 69, .15) !important;
    top: 12rem;
}

.botao-reiniciar button:hover {
    transition: transform 0.8s ease;
    transform: scale(1.02);
}

.botao-reiniciar p {
    position: relative;
    left: 46vw;
    top: 14rem;
    color: black;
    font-size: 13px;
}

.botao-reiniciar b {
    font-weight: bolder
}



.border-left-primary {
    border-left: 0.25rem solid rgb(150, 108, 2)!important;
}

.text-primary {
    color: rgb(150, 108, 2)!important;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.50rem 1.90rem 0 rgba(58, 59, 69, .15) !important;
    color: #021e46;
}

.modal1 p {
    position: relative;
    top: 1rem;
}

/* Estilo para o conteúdo do modal */
.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 16px;
    border: 1px solid #888;
    width: 40vw;
    height: 15vh;
    text-align: center;
    font-size: 20px;
    color: #021e46;
    border-radius: 1rem;
}

/* Estilo para o botão de fechar o modal */
.close1 {
    color: #021e46;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    position: relative;
    bottom: 1rem;
}

.close1:hover,
.close1:focus {
    color: #021e46;
    text-decoration: none;
    cursor: pointer;
}

.row {
    justify-content: space-around;
    display: flex;
}

#kpi {
    height: 11vh;
}

#metrica{
   position: relative;
   
}

#metricas_desempenho{
    position: relative;
    left: 2rem;
    color: white;
    font-weight: bolder;
}

#metricas_desempenho:hover{
    transform: scale(1.08);
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.50rem 1.90rem 0 rgba(58, 59, 69, .15) !important;
    color: #021e46;
}

/* Estilo para o conteúdo do modal */
.modal-content2 {
    background-color: #fefefe;
    margin: 10% auto;
    /* padding: 5px; */
    border: 1px solid #888;
    width: 95vw;
    height: 70vh;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    font-size: 20px;
    color: #021e46;
    border-radius: 1rem;
    display: flex;
    /* flex-direction: row-reverse; */
    position: relative;
    gap: 2.5rem;
}

.desempenho_content h5{
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
}

.desempenho_content h6{
    text-align: left;
    position: relative;
    left: 0.5rem;
    font-weight: bolder;
    font-size: 12px;
}

/* Estilo para o botão de fechar o modal */
#closeteste {  
    color: #021e46;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    position: relative;
    bottom: 13rem;
    left: 82rem;
}

.close2:hover,
.close2:focus {
    color: #021e46;
    text-decoration: none;
    cursor: pointer;
}

.caixa-container{
    width: 15vw;
    height: 12vh;
    box-shadow: 0 3rem 5rem 0 rgba(58, 59, 69, .15) !important;
    border-radius: 1rem;
    border-left: 0.25rem solid #021e46 !important;
    position: relative;
   
}

.caixa-desempenho{
    padding: 0.7rem;
    text-align: left;
}

.caixa-desempenho p{
    text-align: left;
    padding: 0.7rem;
    font-weight: bolder;
    color:#021e46;
    font-size: 14px;
}

#desempenhoGeral{
    font-weight: bolder;
    font-size: 16px;
    color: #021e46;
}

#percent{
    font-weight: bolder;
    font-size: 16px;
    color: #021e46;
}

#tempoAtividade{
    font-weight: bolder;
    font-size: 16px;
    color: #021e46;
}

.text-primary-kpi{
    color: #021e46 ;
}

.border-left-primary-kpi{
    border-left: 0.25rem solid #021e46 !important;
}

.bola {
    display: inline-block;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    left: 1vw;
    top: 0.1rem;
    background-color: #021e46;
}

#discoPercentage{
    color: #021e46;
    font-weight: bolder;
}

#cpuPercentage{
    color: #021e46;
    font-weight: bolder;
}

#ramPercentage{
    color: #021e46;
    font-weight: bolder;
}

#cpuTemp{
    color: #021e46;
    font-weight: bolder;
}

.bolaIdeal {
    display: inline-block;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    left: 8vw;
    bottom: 3.3rem;
    background-color: green;
}

.bolaModerada {
    display: inline-block;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    left: 8vw;
    bottom: 3.3rem;
    background-color: yellow;
}

.bolaCritica {
    display: inline-block;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    position: relative;
    left: 8vw;
    bottom: 3.3rem;
    background-color: rgb(160, 2, 2);
}
